:root {
    --blanco: #FFFFFF;
    --negro: #000000;
    --gris: #252525;
    --FuentePrincipal: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var(--FuentePrincipal);
    text-transform: uppercase;
}

body {
    background-image: url('../IMAGES/FONDO.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.Contenido {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--blanco);
    font-size: 6rem;
    margin: 0
}

.Formulario,
.Etiqueta,
.Input,
.Boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0;
}

label {
    color: var(--blanco);
    font-size: 4rem;
}

input {
    font-family: var(--FuentePrincipal);
    font-size: 4rem;
    text-transform: uppercase;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.NumVariables {
    width: 30%;
    text-align: center;
    border-radius: 50px;
    padding: .5rem;
    background-color: var(--negro);
    color: var(--blanco);
    border: var(--blanco) 5px solid;
}

.BotonEnviar {
    padding: .5rem 3rem;
    border-radius: 50px;
    background-color: var(--blanco);
}

.BotonEnviar:hover, .BotonEnviar:focus{
    background-color: var(--negro);
    color: var(--blanco);
}

.NumVariables:focus{
    background-color:var(--blanco);
    color: var(--negro);
    border: var(--negro) 5px solid;
}

footer{
    font-family: var(--FuentePrincipal);
    color: var(--blanco);
    font-size: 2rem;
    margin-top: 5rem;
    text-align: center;
}